*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// --------------CANVAS THREE JS
#bg{
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;

  display: block;
}

.title{
    background-color: rgba(91, 82, 82, 0.381);
    text-align: center;
    padding: 2rem;
    color: white;
}



main{
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;

  z-index: 10;
}

main section{

    opacity:0;
    visibility:hidden;

    transition:
        opacity .8s ease,
        visibility .8s ease;

}

main section.active{

    opacity:1;
    visibility:visible;

}

html,
body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
// .main_block{

//     pointer-events: none;
// }
body{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
}

@media (max-width:768px){

  body{
    overflow-y:auto;
    overflow-x:hidden;
    background:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('/textures/space.jpg');
    min-height: 100vh;
  }

  main{
    position:relative;
    height:auto;
    min-height:100vh;
  }

}

@media (max-width:768px){

  main section{

    position:relative;

    min-height:100vh;

    opacity:1 !important;
    visibility:visible !important;

    display:none;

    padding:
      140px 24px 80px;

  }

  main section.active{
    display:flex;
  }

}
